body{
	background-color: #d0e4fe;
	font-family: sans-serif;
}

h1{
	color: #cc0000;
	text-align:center;
}

h2{
	color: #0000cc;
	text-align: center;
	line-height: 1.5;
}

p{
	line-height: 1.5;
}

table{
	border: 1px solid black;
}