
.start{
    -fx-background-color: white;
    -fx-border-color: blue;
    -fx-border-radius: 2;
}

.tittle{
	-fx-text-fill: #339999;
	-fx-font-size: 20;
}

.setting{
	-fx-background-image: url(/images/ajustes.png) ;
	-fx-border-color: blue;
    -fx-border-radius: 2;
}

.advise{
	-fx-text-fill: #990000;
	-fx-font-size: 18;
}

.error
{
	-fx-text-fill: red ;
	-fx-font-size: 20;
}